__mocks__/
__tests__/
coverage/
dist/examples/
dist/src/*.map
dist/src/lib/*.map
docs/
examples/
node_modules/
src/
logo/
.env
.bithoundrc
.gitignore
.travis.yml
jest.config.json
tsconfig.json
tslint.json
